<link rel="stylesheet" href="/css/add-simple-db.css">
<link rel="stylesheet" href="/css/compliment_add-compliment-type.css">
<div id="add-compliment-type">
    <div id="heading">
        <div id="turn-back-btn">
            <a href="/admin/category/compliment/compliment-type"><i class="fa-solid fa-arrow-left-long"></i> Thoát</a>
        </div>
        <div id="title">
            <% if (isUpdating) { %>
                <span>Cập nhật loại hình khen thưởng</span>
            <% } else { %>
                <span>Thêm loại hình khen thưởng</span>
            <% } %>
        </div>
    </div>
    <form method="POST" onsubmit="return submitFormCancellation"
    action="/api/admin/<%= isUpdating ? 'update-compliment-type/' + specifiedComplimentType._id.toString() : 'add-compliment-type'%>">
        <div class="form_text-input more-condition" id="compliment_type">
            <label for="compliment_type">Loại hình khen thưởng</label>
            <input class="adjust-upper-and-lower-case" value="<%= isUpdating ? specifiedComplimentType.compliment_type : '' %>"
            name="compliment_type" type="text" placeholder="VD: Khen thưởng đột xuất,..." required>
            <div class="form_text-input_err-message"></div>
        </div>
        <div class="form_textarea-input" id="description">
            <label for="description">Mô tả loại hình khen thưởng</label>
            <textarea name="description" id="description" cols="66" rows="10"><%= isUpdating ? specifiedComplimentType.description.trim() : '' %></textarea>
        </div>
        <input type="submit" value="Xác nhận">
    </form>
</div>
<script src="/js/compliment_add-compliment-type.js"></script>
