<link rel="stylesheet" href="/css/add-simple-db.css">
<div id="add-employee-type">
    <div id="heading">
        <div id="turn-back-btn-for-redirecting-event">
            <a href="/admin/category/employee/employee-type-list"><i class="fa-solid fa-arrow-left-long"></i> Thoát</a>
        </div>
        <div id="title">
            <% if (isUpdating) { %>
                <span>Cập nhật loại nhân viên</span>
            <% } else { %>
                <span>Thêm loại nhân viên</span>
            <% } %>
        </div>
    </div>
    <form method="POST" onsubmit="return submitFormCancellation"
    action="/api/admin/<%= isUpdating ? 'update-employee-type/' + specifiedEmployee_type._id.toString() : 'add-employee-type'%>">
        <div class="form_text-input more-condition" id="employee_type">
            <label for="employee_type">Loại nhân viên</label>
            <input class="adjust-upper-and-lower-case" value="<%= isUpdating ? specifiedEmployee_type.employee_type : '' %>"
            <% if (isUpdating) { %>readonly<% } %>
            name="employee_type" type="text" placeholder="VD: Bán thời gian,..." required>
            <div class="form_text-input_err-message"></div>
        </div>
        <div class="form_text-input more-condition" id="multipleSalary">
            <label for="multipleSalary">Hệ số lương cơ bản</label>
            <input value="<%= isUpdating ? specifiedEmployee_type.multipleSalary : '' %>"
            name="multipleSalary" type="text" placeholder="VD: 1.3,..." required> 
            <div class="form_text-input_err-message"></div>
        </div>
        <input type="submit" value="Xác nhận">
    </form>
</div>
<script src="/js/employee_add-employee-type.js"></script>
