<link rel="stylesheet" href="/css/header.css">
<header>
    <div id="title">
        <span>CÔNG TY VIETRAL LONG XUYÊN</span>
    </div>
    <div id="tools">
        <div id="report">
            <div id="report-icon" class="tools-icons">
                <i id="report" class="fa-solid fa-envelope"></i>
            </div>
            <div id="report-block" class="blocks hide">
                <div id="title">
                    <span>Báo cáo phần mềm</span>
                </div>
                <form>
                    <div class="report-block_items" id="email">
                        <label for="email">Email</label>
                        <input type="text" value="<%= user.account.email %>" name="email" readonly required>
                    </div>
                    <div class="report-block_items" id="name">
                        <label for="name">Tên nhân viên</label>
                        <input type="text" value="<%= user.employee_code + " - " + user.name %>"
                        name="name" readonly required>
                    </div>
                    <div class="report-block_items" id="details">
                        <label for="details">Mô tả</label>
                        <textarea name="details" id="details" cols="30" rows="10" required></textarea>
                    </div>
                    <button id="submit">Gửi</button>
                </form>
            </div>
        </div>
        <div id="settings">
            <div id="settings-icon" class="tools-icons">
                <i id="settings" class="fa-solid fa-gear"></i>
            </div>
            <ul id="settings-block" class="blocks hide">
                <li class="settings-block_items" id="change-password-btn">
                    <a id="change-password-btn" href="/change-password"><i class="fa-solid fa-lock"></i> Đổi mật khẩu</a>
                </li>
                <li class="settings-block_items" id="log-out">
                    <a id="log-out"><i class="fa-solid fa-right-from-bracket"></i> Đăng xuất</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<script src="/js/header.js"></script>