<link rel="stylesheet" href="/css/employee_add-simple-db.css">
<div id="add-position">
    <div id="heading">
        <div id="turn-back-btn">
            <a href="/admin/category/employee/position-list"><i class="fa-solid fa-arrow-left-long"></i> Thoát</a>
        </div>
        <div id="title">
            <span>Thêm loại chức vụ</span>
        </div>
    </div>
    <form method="POST" action="/api/admin/add-position" onsubmit="return submitFormCancellation">
        <div class="form_text-input more-condition" id="position">
            <label for="position">Loại chức vụ</label>
            <input name="position" type="text" placeholder="VD: Phó giám đốc,..." required>
            <div class="form_text-input_err-message"></div>
        </div>
        <div class="form_text-input more-condition" id="salary_per_day">
            <label for="salary_per_day">Lương cơ bản một ngày (VNĐ)</label>
            <input name="salary_per_day" type="number" placeholder="VD: 500000,..." required>
            <div class="form_text-input_err-message"></div>
        </div>
        <input type="submit" value="Xác nhận">
    </form>
</div>
<script src="/js/employee_add-position.js"></script>
