<link rel="stylesheet" href="/css/add-simple-db.css">
<div id="add-department">
    <div id="heading">
        <div id="turn-back-btn">
            <a href="/admin/category/employee/department-list"><i class="fa-solid fa-arrow-left-long"></i> Thoát</a>
        </div>
        <div id="title">
            <% if (isUpdating) { %>
                <span>Cập nhật phòng ban</span>
            <% } else { %>
                <span>Thêm phòng ban</span>
            <% } %>
        </div>
    </div>
    <form method="POST" onsubmit="return submitFormCancellation"
    action="/api/admin/<%= isUpdating ? 'update-department/' + specifiedDepartment._id.toString() : 'add-department'%>">
        <div class="form_text-input more-condition" id="department">
            <label for="department">Phòng ban</label>
            <input class="adjust-upper-and-lower-case" value="<%= isUpdating ? specifiedDepartment.department : '' %>"
            <% if (isUpdating) { %>readonly<% } %>
            name="department" type="text" placeholder="VD: Phó giám đốc,..." required>
            <div class="form_text-input_err-message"></div>
        </div>
        <div class="form_text-input more-condition" id="multipleSalary">
            <label for="multipleSalary">Hệ số lương cơ bản</label>
            <input value="<%= isUpdating ? specifiedDepartment.multipleSalary : '' %>"
            name="multipleSalary" type="text" placeholder="VD: 1.3 ,..." required>
            <div class="form_text-input_err-message"></div>
        </div>
        <input type="submit" value="Xác nhận">
    </form>
</div>
<script src="/js/employee_add-department.js"></script>
