<style>
    #change-password {
        width: 500px;
        z-index: 10;
        color: black;
        background-color: white;
        box-shadow: 4px 4px 16px 8px rgba(0, 0, 0, 0.3);
        border-radius: 6px;
        margin: 20px;
    }

    #change-password {
        top: 40px;
        right: -37px;
        padding: 40px;
    }

    #change-password #title {
        margin-top: -16px;
        margin-bottom: -2px;
        text-align: center;
    }

    #change-password #title span {
        font-size: 1.8rem;
        line-height: 20px;
        color: black;
        font-weight: 600;
    }

    #change-password .change-password_items {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 20px 0;
    }

    #change-password .change-password_items input {
        position: relative;
        height: 40px;
        padding: 16px;
        border: solid 1.5px rgb(150, 150, 150);
        border-radius: 4px;
        border-radius: 24px;
    }

    #change-password .change-password_items input:focus {
        outline: blue solid 1px;
    }

    #change-password input[type=submit] {
        padding: 10px 32px;
        display: block;
        border: 2px var(--grey-border) solid;
        background-color: var(--smoking-grey);
        border-radius: 4px;
        transition: background-color ease 0.2s;
        transition: border-radius ease 0.3s;
        margin: auto;
        margin-top: 16px;
        margin-bottom: -24px;
        color: black;
    }

    #change-password input[type=submit]:hover {
        background-color: rgb(147, 147, 147);
        color: white;
        cursor: pointer;
        border-radius: 22px;
    }

    #change-password .change-password_items label {
        color: black;
        font-size: 0.8rem;
        font-weight: 600;
        line-height: 16px;
        padding-left: 10px;
    }

    .change-password-input label {
        display: block;
        padding: 4px;
    }

    .change-password-input input {
        width: 350px;
        height: 44px;
        border: 2px #d1d0d0 solid;
        border-radius: 24px;
        padding: 16px;
    }

    .change-password_items .change-password-input_toggle-hidden {
        position: absolute;
        top: 22px;
        right: 15px;
    }

    .change-password_items .change-password-input_toggle-hidden:hover {
        cursor: pointer;
    }

    .change-password_items .change-password-input_toggle-hidden>.hidden {
        display: none;
    }

    .form_text-input_err-message {
        position: relative;
    }

    .err-message-block {
        position: absolute;
        display: none;
        color: red;
        font-size: 12px;
    }
</style>
<div id="change-password">
    <div id="title">
        <span>Đổi mật khẩu</span>
    </div>
    <form action="/api/change-password" method="POST">
        <div class="change-password_items" id="email">
            <label for="email">Email</label>
            <input type="text" value="<%= user.account.email %>" name="email" readonly required>
        </div>
        <div class="change-password_items more-condition" id="old-password">
            <label for="old-password">Mật khẩu cũ</label>
            <input class="show-pass change-password-input" type="password" name="old-password" required>
            <div class="form_text-input_err-message"></div>
            <div class="change-password-input_toggle-hidden">
                <i id="old-password" class="show-pass fa-solid fa-eye"></i>
                <i id="old-password" class="hide-pass hidden fa-regular fa-eye-slash"></i>
            </div>
        </div>
        <div class="change-password_items more-condition" id="new-password">
            <label for="new-password">Mật khẩu mới</label>
            <input class="show-pass change-password-inperrorMessagesut" type="password" name="new-password" required>
            <div class="form_text-input_err-message"></div>
            <div class="change-password-input_toggle-hidden">
                <i id="new-password" class="show-pass fa-solid fa-eye"></i>
                <i id="new-password" class="hide-pass hidden fa-regular fa-eye-slash"></i>
            </div>
        </div>
        <div class="change-password_items more-condition" id="confirm-new-password">
            <label for="confirm-new-password">Nhập lại mật khẩu mới</label>
            <input class="show-pass change-password-input" type="password" name="confirm-new-password" required>
            <div class="form_text-input_err-message"></div>
            <div class="change-password-input_toggle-hidden">
                <i id="confirm-new-password" class="show-pass fa-solid fa-eye"></i>
                <i id="confirm-new-password" class="hide-pass hidden fa-regular fa-eye-slash"></i>
            </div>
        </div>
        <input type="submit" value="Gửi">
    </form>
</div>
<script>
    const submitFormCancellation = false;
    (function main() {
        const errorMessages = {
            ["old-password"]: {
                confirm: function (value) {
                    if (value.length < 8) {
                        this.isValid = false;
                    } else this.isValid = true;
                },
                message: "Mật khẩu không đủ dài.",
                isValid: false,
            },
            ["new-password"]: {
                confirm: function (value) {
                    if (value.length >= 8) {
                        this.isValid = true;
                    } else this.isValid = false;
                },
                message: "Mật khẩu không đủ dài.",
                isValid: false,
            },
            ["confirm-new-password"]: {
                confirm: function (value) {
                    if ($("input[name=confirm-new-password]").value != $("input[name=new-password]").value) {
                        this.isValid = false;
                    } else this.isValid = true;
                },
                message: "Mật khẩu không khớp.",
                isValid: false,
            },
        };
        const strictInputTags = [...$$(".more-condition input")];

        $('input[type=submit').onclick = (e) => {
            let isAccept = false;
            if (confirm("Bạn có chắc chắn với những thông tin này?")) {
                isAccept = strictInputTags.every((tag) => {
                    let errObj = errorMessages[tag.name];
                    errObj.confirm(tag.value);
                    return errObj.isValid;
                })

                if (isAccept) {
                    submitFormCancellation = true;
                } else {
                    alert("Thông tin đầu vào bị lỗi hoặc mật khẩu cũ không đúng!");
                    submitFormCancellation = false;
                }
            } else submitFormCancellation = false;
        }

        (function createErrorMessages() {
            [...$$('.form_text-input_err-message')].forEach((tag) => {
                const parentId = tag.parentNode.id;
                tag.innerHTML = `
            <span class='err-message-block' id='${parentId}'>
                ${errorMessages[parentId].message}
            </span>`;
            });
        })();

        (function toggleHidingPassword() {
            $$('.change-password-input_toggle-hidden i').forEach((e) => {
                e.onclick = (e) => {
                    if ([...e.target.classList].some((e) => e == "show-pass")) {
                        e.target.classList.add("hidden");
                        e.target.parentElement.querySelector(".hide-pass").classList.remove("hidden");
                        $(`input[name=${e.target.id}]`).type = "text";
                    } else {
                        e.target.classList.add("hidden");
                        e.target.parentElement.querySelector(".show-pass").classList.remove("hidden");
                        $(`input[name=${e.target.id}]`).type = "password";
                    }
                }
            })
        })();

        (function setUpstrictInputTags() {
            strictInputTags.forEach((tag) => {
                tag.onblur = (e) => {
                    if (tag.getAttribute("name") == "new-password") {
                        const errMesTagObject = errorMessages["confirm-new-password"];
                        const errTag = $(`div#confirm-new-password span#confirm-new-password`);

                        errMesTagObject.confirm(tag.value);
                        if (errMesTagObject.isValid) errTag.style.display = "none";
                        else errTag.style.display = "inline";
                    }

                    const errMesTagObject = errorMessages[tag.name];
                    const errTag = $(`div#${tag.name} span#${tag.name}`);

                    errMesTagObject.confirm(tag.value);
                    if (errMesTagObject.isValid) errTag.style.display = "none";
                    else errTag.style.display = "inline";
                }
            })
        })();

        const urlParams = new URLSearchParams(window.location.search);
        const myParam = urlParams.get('error');
        if (myParam) {
            alert('Phòng ban này đã tồn tại!');
            (async function handleRedirect() {
                const dataMessages = myParam.split('?');
                const data = dataMessages.map((e) => {
                    return e.split('=');
                })

                window.history.replaceState({}, "", "http://localhost:3000/admin/category/employee/add-department");
                strictInputTags.forEach((tag, index) => {
                    tag.value = data.find((e) => e[0] == tag.name)[1];
                    errorMessages[tag.name].confirm(tag.value);
                })
            })();
        }
    })();

</script>