<link rel="stylesheet" href="/css/change-password.css">
<div id="change-password">
    <div id="title">
        <span>Đổi mật khẩu</span>
    </div>
    <form action="/api/change-password" method="POST" onsubmit="return submitFormCancellation">
        <div class="change-password_items" id="email">
            <label for="email">Email</label>
            <input type="text" value="<%= user.account.email %>" name="email" readonly required>
        </div>
        <div class="change-password_items more-condition" id="old-password">
            <label for="old-password">Mật khẩu cũ</label>
            <input class="show-pass change-password-input" type="password" name="old-password" required>
            <div class="form_text-input_err-message"></div>
            <div class="change-password-input_toggle-hidden">
                <i id="old-password" class="show-pass fa-solid fa-eye"></i>
                <i id="old-password" class="hide-pass hidden fa-regular fa-eye-slash"></i>
            </div>
        </div>
        <div class="change-password_items more-condition" id="new-password">
            <label for="new-password">Mật khẩu mới</label>
            <input class="show-pass change-password-inperrorMessagesut" type="password" name="new-password" required>
            <div class="form_text-input_err-message"></div>
            <div class="change-password-input_toggle-hidden">
                <i id="new-password" class="show-pass fa-solid fa-eye"></i>
                <i id="new-password" class="hide-pass hidden fa-regular fa-eye-slash"></i>
            </div>
        </div>
        <div class="change-password_items more-condition" id="confirm-new-password">
            <label for="confirm-new-password">Nhập lại mật khẩu mới</label>
            <input class="show-pass change-password-input" type="password" name="confirm-new-password" required>
            <div class="form_text-input_err-message"></div>
            <div class="change-password-input_toggle-hidden">
                <i id="confirm-new-password" class="show-pass fa-solid fa-eye"></i>
                <i id="confirm-new-password" class="hide-pass hidden fa-regular fa-eye-slash"></i>
            </div>
        </div>
        <input type="submit" value="Gửi">
    </form>
</div>
<script src="/js/change-password.js"></script>