<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <form onsubmit="return submitFormCancellation" method="POST" action="/api/users/login/">
        <span id="form-title">Đăng nhập</span>
        <div class="register-input" id="email">
            <label for="email">Địa chỉ gmail</label>
            <input name="email" type="text" placeholder="name.01@gmail.com" required>
            <div class="register-input_err-message"></div>
        </div>
            
        <div class="register-input" id="password">
            <label for="password">Mật khẩu</label>
            <span id="forgot-pass">
                <a href="">Quên mật khẩu?</a>
            </span>
            <input name="password" type="password" required>
            <div class="register-input_err-message"></div>
            <div class="register-input_toggle-hidden">
                <i class="show-pass fa-solid fa-eye"></i>
                <i class="hide-pass hidden fa-regular fa-eye-slash"></i>
            </div>
        </div>
        <div class="register-input" id="admin-right">
            <label for="admin-right">Admin Code</label>
            <input name="admin-right" type="text" placeholder="0 or Admin Code" required>
            <div class="register-input_err-message"></div>
        </div>
        <input type="submit" value="Đăng nhập">
        <span id="have-no-account">
            Chưa có tài khoản?
            <a href="http://localhost:3000/register"> Đăng ký ngay!</a>
        </span>
    </form>
    <script src="/js/login.js"></script>
</body>

</html>