<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/password.css">
</head>

<body>
    <form method="POST" action="/api/users/password/">
        <span id="form-title">Lấy lại mật khẩu</span>
        <div class="password-input" id="email">
            <label for="email">Địa chỉ gmail</label>
            <input name="email" type="text" placeholder="name.01@gmail.com" required>
        </div>
        <input type="submit" value="Xác nhận">
    </form>
    <script src="/js/password.js"></script>
</body>

</html>