@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
:root {
    --black-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
    --grey-form-text: rgb(112, 102, 102);
    --blur-white: #efefef;
    --white-text: #FFFFFF;
    --grey-border: #a5a5a5;
    --smoking-grey: rgba(216, 216, 216, 0.7);
    --x2-dark-blue: #183153;
    --blue: #3456FF;
    --blur-blue: rgb(0, 63, 151);
    --green: rgb(139, 219, 19);
    --red: rgb(234, 16, 16);

    --footer-height: 40px;
    --category-width: 17%;
    --form-border-radius: 12px;
    --form-margin: 12px;
}
/* Reset CSS */
html {
    position: relative;
    box-sizing: border-box;
    font-size: 16px;
    min-height: 100vh;
    background-color: var(--blur-white);
    padding-bottom: var(--footer-height);
}
#category {
    position: absolute;
    width: var(--category-width);
    height: 100%;
    padding: 20px;
    background-color: var(--x2-dark-blue);
    color: var(--white-text);
    font-size: 1rem;
}
main {
    padding-left: var(--category-width);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
  font-family: 'Muli', sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  line-height: 1.58;
  letter-spacing: -.003em;
  font-size: 20px;
}

form input[type=submit] {
    display: block;
    border: 2px var(--grey-border) solid;
    background-color: var(--smoking-grey);
    color: var(--grey-text-form);
    border-radius: 4px;
    transition: background-color ease 0.2s;
    transition: border-radius ease 0.3s;
}

form input[type=submit]:hover {
    background-color: rgb(147, 147, 147);
    color: white;
    cursor: pointer;
    border-radius: 22px;
}

.hide {
    display: none;
}

.status-block {
    display: inline-block;
    font-size: 0.8rem;
    color: var(--white-text);
    border: solid 1px transparent;
    border-radius: 12px;
    padding: 0 4px;
}
.working-status {
    background-color: var(--green);
}
.resigned-status {
    background-color: var(--red);
}
footer {
    position: absolute;
    background-color: #3787c3;
    width: calc(100% - var(--category-width));
    /* Position property made <footer>'s width depend on the <body> tag */
    bottom: 0;
    line-height: var(--footer-height);
    border-top: solid 1px var(--blue);
    color: var(--white-text);
    font-size: 0.8rem;
    text-align: center;
}
footer a {
    text-decoration: underline;
}

header {
    background-color: #3787c3;
    width: 100%;
    line-height: var(--footer-height);
    border-top: solid 1px var(--blue);
    color: var(--white-text);
    font-size: 0.8rem;
}
#turn-back-btn {
    display: inline-block;
}
#turn-back-btn a {
    display: inline-block;
    font-size: 1rem;
    background-color: var(--blue);
    color: white;
    margin: 10px 0 0 20px;
    padding: 8px;
    border-radius: 8px;
    transition: background-color ease 0.3s;
}
#turn-back-btn a:hover {
    background-color: rgb(120, 120, 255);
}