@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
:root {
    --black-box-shadow: rgba(0, 0, 0, 0.2);
    --grey-form-text: rgb(112, 102, 102);
    --blue-anchor-text: rgb(82, 82, 221);
    --blur-white: #efefef;
    --white-text: #FFFFFF;
    --grey-border: #a5a5a5;
    --smoking-grey: rgba(206, 206, 206, 0.7);
    --x2-dark-blue: #183153;
    --blue: #3456FF;
    --green: rgb(139, 219, 19);
    --red: rgb(234, 16, 16);
}
/* Reset CSS */
html {
    position: relative;
    box-sizing: border-box;
    font-size: 16px;
    background-color: var(--blur-white);
}
#category {
    position: absolute;
    width: 280px;
    height: 100%;
    min-height: 100vh;
    padding: 20px;
    background-color: var(--x2-dark-blue);
    color: var(--white-text);
    font-size: 1rem;
}
main {
    padding-left: 280px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
  font-family: 'Muli', sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  line-height: 1.58;
  letter-spacing: -.003em;
  font-size: 20px;
}

form {
    margin: auto;
    margin-top: 42px;
    margin-bottom: 42px;
    background-color: rgba(255, 255, 255, 0.85);
    display: block;
    max-width: 820px;
    width: auto;
    padding: 28px 56px;
    border: 1px transparent solid;
    border-radius: 20px;
    box-shadow: 0 0 100px black;
    color: var(--grey-text-form);
    font-size: 0.9rem;
    font-weight: 600;
}

form input[type=submit] {
    display: block;
    border: 2px var(--grey-border) solid;
    background-color: var(--smoking-grey);
    color: var(--grey-text-form);
    border-radius: 4px;
    transition: background-color ease 0.2s;
    transition: border-radius ease 0.3s;
}

form input[type=submit]:hover {
    background-color: rgb(147, 147, 147);
    color: white;
    cursor: pointer;
    border-radius: 22px;
}

.hide {
    display: none;
}

.status-block {
    display: inline-block;
    font-size: 0.8rem;
    color: var(--white-text);
    border: solid 1px transparent;
    border-radius: 12px;
    padding: 0 4px;
}
.working-status {
    background-color: var(--green);
}
.resigned-status {
    background-color: var(--red);
}