
#change-password {
    width: 500px;
    z-index: 10;
    color: black;
    background-color: white;
    box-shadow: 4px 4px 16px 8px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    margin: 20px;
}

#change-password {
    top: 40px;
    right: -37px;
    padding: 40px;
}

#change-password #title {
    margin-top: -16px;
    margin-bottom: -2px;
    text-align: center;
}

#change-password #title span {
    font-size: 1.8rem;
    line-height: 20px;
    color: black;
    font-weight: 600;
}

#change-password .change-password_items {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px 0;
}

#change-password .change-password_items input {
    position: relative;
    height: 40px;
    padding: 16px;
    border: solid 1.5px rgb(150, 150, 150);
    border-radius: 4px;
    border-radius: 24px;
}

#change-password .change-password_items input:focus {
    outline: blue solid 1px;
}

#change-password input[type=submit] {
    padding: 10px 32px;
    display: block;
    border: 2px var(--grey-border) solid;
    background-color: var(--smoking-grey);
    border-radius: 4px;
    transition: background-color ease 0.2s;
    transition: border-radius ease 0.3s;
    margin: auto;
    margin-top: 16px;
    margin-bottom: -24px;
    color: black;
}

#change-password input[type=submit]:hover {
    background-color: rgb(147, 147, 147);
    color: white;
    cursor: pointer;
    border-radius: 22px;
}

#change-password .change-password_items label {
    color: black;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 16px;
    padding-left: 10px;
}

.change-password-input label {
    display: block;
    padding: 4px;
}

.change-password-input input {
    width: 350px;
    height: 44px;
    border: 2px #d1d0d0 solid;
    border-radius: 24px;
    padding: 16px;
}

.change-password_items .change-password-input_toggle-hidden {
    position: absolute;
    top: 22px;
    right: 15px;
}

.change-password_items .change-password-input_toggle-hidden:hover {
    cursor: pointer;
}

.change-password_items .change-password-input_toggle-hidden>.hidden {
    display: none;
}

.form_text-input_err-message {
    position: relative;
}

.err-message-block {
    position: absolute;
    display: none;
    color: red;
    font-size: 12px;
}