table {
    border-collapse: collapse;
}
th, td {
    border: solid 1px var(--smoking-grey);
}
#group-compliments-list #add-btn {
    float: right;
    margin-right: 12px;
    margin-top: 4px;
}
#group-compliments-list #title {
    display: inline-block;
}
#group-compliments-list #title span {
    font-size: 2.4rem;
    padding: 10px;
}
#group-compliments-list table {
    margin: var(--form-margin);
    background-color: white;
    border: solid 1px transparent;
    border-radius: var(--form-border-radius);
    padding: 12px;
    box-shadow: var(--black-box-shadow);
    font-size: 0.95rem;
}
#group-compliments-list .table_title {
    text-align: left;
}
#group-compliments-list .table_title th i {
    width: 20px;
    font-size: 0.7rem;
    float: right;
    line-height: 24px;
    cursor: pointer;
}
#group-compliments-list .table_title th {
    padding: 6px;
    text-align: center;
}
#group-compliments-list .table_title th#ordinal {
    width: 5%;
}
#group-compliments-list .table_title th#compliment_code {
    width: 20%;
}
#group-compliments-list .table_title th#compliment {
    width: 24%;
}
#group-compliments-list .table_title th#dateCreated {
    width: 14%;
}
#group-compliments-list .table_title th#view-group-compliment {
    width: 8%;
}
#group-compliments-list .table_title th#update-group-compliment {
    width: 8%;
}
#group-compliments-list .table_title th#delete-group-compliment {
    width: 8%;
}
#group-compliments-list tr.body td {
    text-align: center;
}
#group-compliments-list tr.body td#compliment,
#group-compliments-list tr.body td#description {
    padding: 10px;
}
#group-compliments-list tr.body .view-group-compliment {
    padding: 12px 24px 12px;
}
#group-compliments-list tr.body .view-group-compliment a {
    display: block;
    margin: auto;
    width: 50px;
    line-height: 32px;
    background-color: var(--blue);
    border: solid 1px transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color ease 0.3s;
}
#group-compliments-list tr.body .view-group-compliment a:hover {
    background-color: var(--blur-blue);
}
#group-compliments-list tr.body .update-group-compliment {
    padding: 12px 24px 12px;
}
#group-compliments-list tr.body .update-group-compliment a {
    display: block;
    margin: auto;
    width: 50px;
    line-height: 32px;
    background-color: var(--green);
    border: solid 1px transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color ease 0.3s;
}
#group-compliments-list tr.body .update-group-compliment a:hover {
    background-color: var(--blur-green);
}
#group-compliments-list tr.body .delete-group-compliment {
    padding: 12px 24px 12px;
}
#group-compliments-list tr.body .delete-group-compliment a {
    display: block;
    margin: auto;
    width: 50px;
    line-height: 32px;
    background-color: var(--red);
    border: solid 1px transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color ease 0.3s;
}
#group-compliments-list tr.body .delete-group-compliment a:hover {
    background-color: rgb(238, 102, 102);
}