form {
    width: 60%;
}
form .form_select-input {
    width: 70%;
    height: 72px;
    margin: auto;
    margin-bottom: 20px
}
form .form_select-input select {
    padding: 12px;
}
form .form_textarea-input {
    width: 70%;
    height: 100px;
    margin: auto;
}
form .form_textarea-input label {
    display: block;
}
form .form_textarea-input textarea {
    width: 100%;
    height: 70%;
}