#main #main_title span {
    font-size: 2.4rem;
    padding: 10px;
}
#main #main_container {
    margin: var(--form-margin);
    min-height: 60vh;
    background-color: white;
    border: solid 1px transparent;
    border-radius: var(--form-border-radius);
    padding: 12px;
    box-shadow: var(--black-box-shadow);
}
#main_container_info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#main #main_container_label {
    margin-bottom: 12px;
    font-weight: 600;
}
#main #main_container_label::after {
    display: block;
    content: "";
    border-top: solid 1px rgb(94, 94, 255);
    padding-bottom: 8px;
}
#main_container_info #avatar {
    width: 16%;
}
#main_container_info #avatar img {
    width: 100%;
}
#main_container_info .info {
    width: 40%;
    padding-left: 20px;
}
#main #main_container_info .info li {
    display: block;
    width: 100%;
    font-size: 1rem;
}