
#add-employee-into-group #title {
    display: inline-block;
}
#add-employee-into-group #title span {
    font-size: 2.4rem;
    padding: 10px;
}

form {
    margin: var(--form-margin);
    padding: calc(2 * var(--form-margin));
    background-color: white;
    display: block;
    width: auto;
    border: 1px transparent solid;
    border-radius: var(--form-border-radius);
    box-shadow: var(--black-box-shadow);
    color: var(--grey-text-form);
    font-size: 0.9rem;
    font-weight: 600;
}

form select:focus{
    background-color: var(--smoking-grey);
}
form label {
    display: block;
}
form select {
    width: 100%;
    padding: 12px;
    border: solid 1px var(--grey-border);
    border-radius: 6px;
}

.register-select select:hover {
    cursor: pointer;
}

form input[type=submit] {
    padding: 12px 72px;
    margin: auto;
    margin-top: 30px;
}