html {
    background-image: url('/img/form_short_img.jpg');
    background-size: 100vw;
    background-repeat: no-repeat;
    position: relative;
}

form {
    margin: auto;
    margin-top: 100px;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.85);
    display: block;
    width: auto;
    padding: 28px 56px;
    border: 1px transparent solid;
    border-radius: 20px;
    box-shadow: 0 0 100px black;
    color: var(--grey-text-form);
    font-size: 0.9rem;
    font-weight: 600;
}

form #form-title {
    display: block;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    padding: 24px;
}

form .login-input {
    position: relative;
    width: 350px;
    min-height: 90px !important;
    margin: auto;
}

.login-input label {
    display: block;
    padding: 4px;
}

.login-input input {
    width: 350px;
    height: 44px;
    border: 2px #d1d0d0 solid;
    border-radius: 24px;
    padding: 16px;
}

.login-input .login-input_toggle-hidden {
    position: absolute;
    top: 42px;
    right: 15px;
}

.login-input .login-input_toggle-hidden:hover {
    cursor: pointer;
}

.login-input .login-input_toggle-hidden>.hidden {
    display: none;
}

.login-input_err-message {
    position: relative;
}

.err-message-block {
    position: absolute;
    display: none;
    color: red;
    font-size: 12px;
}

form input[type=submit] {
    padding: 12px 42px;
    margin: auto;
    margin-top: 30px;
}

.login-input #forgot-pass a {
    position: absolute;
    right: 12px;
    top: 4px;
}
form #have-no-account {
    display: block;
    text-align: center;
    margin-top: 8px;
}